<!-- carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id='sider-img' [style]='style' class="slider-img a"></div>
            <!-- <img src="public/images/sliderI.jpg" class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
            <div id='sider-img' [style]="style" class="slider-img b"></div>
            <!-- <img src="public/images/sliderII.jpg" class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
            <div id='sider-img' [style]="style" class="slider-img c"></div>
            <!-- <img src="public/images/cleanersI.jpg" class="d-block w-100" alt="..."> -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>

<!-- about -->
<div class="row about">
    <div class="container">
        <h2>About</h2>
        <p>{{ about }}</p>
    </div>
</div>
<!-- all products -->
<div class="products">
    <div class='row cosmetics'>
        <div class='container'>
                <div class='row'>
                        <h2 class="h">Cleaners</h2>
                    </div>
        
                    <div class='row'>
                        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12' *ngFor='let sterile of steriles'>
                            <div class="card">
                                <!-- <img src='public/images/cleaners.jpg' alt='' /> -->
                                <div class="product-img cleanersI" style="background-image: url('{{sterile.img}}')"></div>
                                <div>
                                    <h4 class="name">{{ sterile.name }}</h4>
                                    <p class="name">{{ sterile.details }}</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="row seemore">
                            <a href='/sterile'>
                                <button type="button" class="btn btn-primary">See More</button>
                            </a>
                        </div>
                    </div>

                    <div class='row'>
                            <h2 class="h">Sterile</h2>
                        </div>
            
                        <div class='row'>
                            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12' *ngFor='let sterile of steriles'>
                                <div class="card">
                                    <!-- <img src='public/images/cleaners.jpg' alt='' /> -->
                                    <div class="product-img cleanersI" style="background-image: url('{{sterile.img}}')"></div>
                                    <div>
                                        <h4 class="name">{{ sterile.name }}</h4>
                                        <p class="name">{{ sterile.details }}</p>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row seemore">
                                <a href='/cleaners'>
                                    <button type="button" class="btn btn-primary">See More</button>
                                </a>
                            </div>
                        </div>

                        <div class='row'>
                                <h2 class="h">Cosmetics</h2>
                            </div>
                
                            <div class='row'>
                                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12' *ngFor='let cosmetic of cosmetics'>
                                    <div class="card">
                                        <!-- <img src='public/images/cleaners.jpg' alt='' /> -->
                                        <div class="product-img cleanersI" style="background-image: url('{{cosmetic.img}}')"></div>
                                        <div>
                                            <h4 class="name">{{ cosmetic.name }}</h4>
                                            <p class="name">{{ cosmetic.details }}</p>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row seemore">
                                    <a href='/cosmetics'>
                                        <button type="button" class="btn btn-primary">See More</button>
                                    </a>
                                </div>
                            </div>
        </div>
    </div>
</div>